﻿@model IEnumerable<Platform.Models.ApplicationUser>

@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@*@functions{
    public int Count()
    {
        int count = 1;
        return count++;
    }
}*@
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Admin- AllUsers</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Admin</a></li>
                    <li><a href="#">All Users</a></li>
                    <li> @Html.ActionLink("Create New", "CreateUsers")</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">All Users</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Fullname)</th>
                                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                                    <th>@Html.DisplayNameFor(model => model.Level)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.Fullname</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>@item.Level</td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "UserDetails", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id})
                                        <a href="@Url.Action("EditUser")" id="@item.Id"><i class="fa fa-youtube"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->
