﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Static/assets")
</head>
<body>
    <div class="navbar-area fixed-top">BB

        <div class="mobile-nav">
            <a href="index-2.html" class="logo">
                <img src="~/Static/assets/img/logo.png" alt="Logo">
            </a>
        </div>

        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index-2.html">
                        <img src="~/Static/assets/img/logo.png" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle active">Home </a>
                            </li>
                            <li class="nav-item">
                                <a href="about.html" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">Jobs </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">Blogs </a>
                            </li>
                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">Contact</a>
                            </li>
                        </ul>
                        <div class="common-btn">
                            @Html.Partial("_LoginPartial2")
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <footer>
            <div class="container">

                <div class="subscribe-area">
                    <div class="section-title">
                        <h2>Subscribe Newsletter</h2>
                    </div>
                    <div class="subscribe-shape">
                        <img src="~/Static/assets/img/shape/1.png" alt="Shape">
                        <img src="~/Static/assets/img/shape/1.png" alt="Shape">
                        <img src="~/Static/assets/img/shape/1.png" alt="Shape">
                        <img src="~/Static/assets/img/shape/1.png" alt="Shape">
                        <img src="~/Static/assets/img/shape/2.png" alt="Shape">
                    </div>
                    <div class="subscribe-item">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">
                            <button class="btn subscribe-btn" type="submit">
                                Subscribe
                            </button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-logo">
                                <a href="#">
                                    <img src="~/Static/assets/img/logo-two.png" alt="Logo">
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <ul>
                                    <li>
                                        <a href="https://www.youtube.com/" target="_blank">
                                            <i class="icofont-youtube-play"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="icofont-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/" target="_blank">
                                            <i class="icofont-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-category">
                                <h3>Category</h3>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-simple-right"></i> Development
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-simple-right"></i> Business
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-simple-right"></i> Tech & IT
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-simple-right"></i> Finance
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-simple-right"></i> Networking
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-category">
                                <h3>Quick Links</h3>
                                <ul>
                                    <li>
                                        <a href="index-2.html">
                                            <i class="icofont-simple-right"></i> Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about.html">
                                            <i class="icofont-simple-right"></i> About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog.html">
                                            <i class="icofont-simple-right"></i> Blogs
                                        </a>
                                    </li>
                                    <li>
                                        <a href="company-list.html">
                                            <i class="icofont-simple-right"></i> Companies
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-simple-right"></i> Testimonials
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-find">
                                <h3>Find Us</h3>
                                <ul>
                                    <li>
                                        <i class="icofont-location-pin"></i> 28/A Street, New York City
                                    </li>
                                    <li>
                                        <i class="icofont-ui-call"></i>
                                        <a href="tel:+880123456789">
                                            +88 0123 456 789
                                        </a>
                                    </li>
                                    <li>
                                        <i class="icofont-ui-email"></i>
                                        <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#f79f929b9b98b79096959b92d994989a">
                                            <span class="__cf_email__" data-cfemail="670f020b0b08270006050b024904080a">[email&#160;protected]</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-area">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright-item">
                                <p>Copyright 2020 Gable. Designed by <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="copyright-item copyright-right">
                                <ul>
                                    <li>
                                        <a href="terms-and-conditions.html" target="_blank">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <span>-</span>
                                    </li>
                                    <li>
                                        <a href="privacy-policy.html" target="_blank">Privacy Policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/Static/assets")
    @RenderSection("scripts", required: false)
</body>
</html>
