﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Static/dashboard/assets/vendors/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Static/dashboard/assets/vendors/solid.min.css" rel="stylesheet" />
    <link href="~/Static/dashboard/assets/vendors/brands.min.css" rel="stylesheet" />
    <link href="~/Static/dashboard/assets/vendors/bootstrap.min.css" rel="stylesheet" />
    @*STYLESHEET FOR DATATABLE*@
    <link href="~/Static/dashboard/assets/vendors/datatables.min.css" rel="stylesheet" />

    <link href="~/Static/dashboard/assets/css/master.css" rel="stylesheet" />
    <link href="~/Static/dashboard/assets/vendors/Chart.min.css" rel="stylesheet" />
    <link href="~/Static/dashboard/assets/vendors/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Static/dashboard/assets/components/navbar-dropdowns.css" rel="stylesheet" />
    <link href="~/Static/dashboard/assets/components/sidebar-default.css" rel="stylesheet" />


    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="wrapper">
        @Html.Partial("_SidebarPartial")
        <div id="body" class="active">
            @Html.Partial("_NavbarPartial")
            @RenderBody()
        </div>

    </div>
    @Html.Partial("_LogoutModal")
    <script src="~/Static/dashboard/assets/vendors/jquery.min.js"></script>
    <script src="~/Static/dashboard/assets/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/Static/dashboard/assets/vendors/Chart.min.js"></script>
    <script src="~/Static/dashboard/assets/js/dashboard-charts.js"></script>
    <script src="~/Static/dashboard/assets/js/script.js"></script>

    @*SCRIPTS FOR DATATABLE*@
    <script src="~/Static/dashboard/assets/vendors/datatables.min.js"></script>
    <script src="~/Static/dashboard/assets/vendors/initiate-datatables.js"></script>
</body>
</html>
@RenderSection("scripts", required: false)