﻿@model IEnumerable<Platform.Models.ViewModel.CategoryViewModel>
@{
    ViewBag.Title = "AllCategories";
    Layout = "~/Views/Dashboard/_DashboardLayout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>
                All Categories
                <a href="@Url.Action("CreateCategory", "Dashboard")" class="btn btn-sm btn-outline-primary float-right"><i class="fa fa-user-shield"></i> Add New</a>
            </h3>
        </div>
        @if (TempData.ContainsKey("category"))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@TempData["category"]</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="box box-primary">
            <div class="box-body">
                <table width="100%" class="table table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                            <th>@Html.DisplayNameFor(model => model.UpdatedAt)</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CategoryName</td>
                                <td>@item.CreatedAt</td>
                                <td>@item.UpdatedAt</td>
                                <td class="text-right">
                                    <a href="@Url.Action("EditCategory", "Dashboard", new { id = item.Id})" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                    <a href="@Url.Action("DeleteCategory", "Dashboard", new { id = item.Id})" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

