﻿@model Platform.Models.ViewModel.CategoryViewModel

@{
    ViewBag.Title = "CategoryDetails";
    Layout = "~/Views/Dashboard/_DashboardLayout.cshtml";
}

<h2>CategoryDetails</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
