﻿@model Platform.Models.ViewModel.CategoryViewModel
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Dashboard/_DashboardLayout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>
                <a href="@Url.Action("AllCategories", "Dashboard")" class="btn btn-sm btn-outline-info mr-1"><i class="fas fa-angle-left"></i> <span class="btn-header">Return</span></a>
            </h3>
        </div>
        @if (TempData.ContainsKey("category"))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["category"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Add New</div>
                    <div class="card-body">
                        @using (Html.BeginForm("CreateCategory", "Dashboard", null, FormMethod.Post, new { enctype = "multipart/form-data", accept_charset = "utf-8" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label mb-1" })
                                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
