﻿@using Microsoft.AspNet.Identity.EntityFramework
    @model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "GetAllRoles";
    Layout = "~/Views/Dashboard/_DashboardLayout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>
                User Roles
                <a href="@Url.Action("CreateRole", "Dashboard")" class="btn btn-sm btn-outline-primary float-right"><i class="fas fa-plus-circle"></i> Add</a>
            </h3>
        </div>
        <div class="box box-primary">
            <div class="box-body">
                <table width="100%" class="table table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Role Name</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td class="text-right">
                                    <a href="@Url.Action("RolePermissions", "Dashboard", new { id = item.Id})" class="btn btn-outline-secondary btn-rounded"><i class="fas fa-toggle-on"></i></a>
                                    <a href="@Url.Action("EditRole", "Dashboard", new { id = item.Id})" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                    <a href="@Url.Action("DeleteRole", "Dashboard", new { id = item.Id})" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

