body{text-align:left}
.navbar-brand{margin-right:0}
.common-btn .login-btn{margin-left:10px;margin-right:0}
.common-btn a i{margin-left:3px;margin-right:0}
.main-nav nav .navbar-nav .nav-item .dropdown-menu{right:0;left:auto;text-align:right}
.banner-form-area form .form-group .form-control{border-left:1px solid #cacacd;border-right:none;padding-right:0;padding-left:40px}
.banner-form-area form .form-group label{left:20px;right:auto}
.banner-form-area form .form-group .nice-select{padding-right:0;text-align:right!important}
.banner-form-area form .form-group .nice-select:after{left:18px;right:auto}
.banner-form-area form .form-group .nice-select .option{text-align:right}
.banner-form-area form{padding-left:150px;padding-right:0}
.banner-form-area .banner-form-btn{left:-31px;right:auto}
.account-item:before{left:-92px;right:auto}
.category-border{border-left:1px solid #efeeee;border-right:none}
.category-border-two{border-left:1px solid #efeeee;border-right:none}
.portal-item .portal-trusted{left:12px;right:auto}
.portal-right{padding-right:50px;padding-left:0}
.sorting-menu ul li:first-child{margin-right:0}
.sorting-menu ul li:last-child{margin-left:0}
.job-item .job-inner{padding-right:80px;padding-left:0}
.job-item .job-inner .job-inner-left ul li{padding-right:22px;padding-left:0}
.job-item .job-inner .job-inner-left ul li i{right:0;left:auto}
.popular-right{padding-right:10px;padding-left:0}
.popular-item ul li i{margin-left:10px;margin-right:0}
.profile-item .profile-inner .profile-heart{left:25px;right:auto}
.app-item .app-btn .app-btn-one{margin-left:15px;margin-right:0}
.app-item .app-btn .app-btn-two p{padding-right:50px;padding-left:0}
.app-item .app-btn .app-btn-two span{padding-right:50px;padding-left:0}
.app-item .app-btn .app-btn-one p{padding-right:50px;padding-left:0}
.app-item .app-btn .app-btn-one span{padding-right:50px;padding-left:0}
.text-left{text-align:left!important}
.blog-item .blog-bottom ul li a{left:0;right:auto}
.blog-item .blog-bottom ul li img{margin-left:10px;margin-right:0}
.blog-item .blog-top span{right:0;left:auto}
.subscribe-item .newsletter-form .subscribe-btn{left:0;right:auto}
                         .footer-item .footer-find h3:before{}                                                                                                                                                                                                                                                                                                                                                                                                                                         .footer-item .footer-category h3:before{}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .footer-item .footer-logo ul li{margin-left:15px;margin-right:0}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .footer-item .footer-logo ul li:last-child{margin-left:0}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .copyright-right{text-align:left}#toTop{left:0;right:auto}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             .back-to-top-btn i{margin-left:28px;margin-right:0}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             .jobseeker-item .jobseeker-inner{padding-right:65px;padding-left:0}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             .jobseeker-item .jobseeker-icon{right:34px;left:auto}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             .jobseeker-item a{left:35px;right:auto}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             .portal-counter-area .offset-lg-2{margin-right:16.666667%;margin-left:0}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             .banner-area-three .banner-text{text-align:right}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             .banner-area-three .banner-text .banner-form-area form{padding-left:120px;padding-right:0}.banner-area-three .banner-img img{left:5%;right:auto}.create-item .create-btn{text-align:left}.job-details-item .job-overview h3:before{right:0;left:auto}.job-details-item .job-overview ul li i{right:0;left:auto}.job-details-item .job-overview ul li{padding-right:50px;padding-left:0}.job-details-item .job-company ul li{padding-right:0}.job-details-item .job-knowledge ul li i{margin-left:3px;margin-right:0}.post-job-item .job-currency-area .nice-select{left:0;right:auto}.post-job-item .form-group .job-category-area .nice-select .option{text-align:right}.post-job-item .job-currency-area .nice-select .option{text-align:right}.form-check-inline{margin-left:.75rem;margin-right:0}.single-profile-item .single-profile-right .single-profile-name a{margin-left:20px;margin-right:0}.single-profile-item .single-profile-right .single-profile-textarea{padding-right:60px;padding-left:0}.single-profile-item .single-profile-right .single-profile-textarea .single-profile-paragraph:before{right:-51px;left:auto}.single-profile-item .single-profile-right .single-profile-textarea .single-profile-heading span{right:-56px;left:auto}.single-profile-item .single-profile-right .single-profile-textarea .single-profile-heading:before{right:-31px;left:auto}.single-profile-item .single-profile-left .single-profile-contact ul li i{margin-left:6px;margin-right:0}.single-profile-item .single-profile-left .single-profile-social ul li i{margin-left:6px;margin-right:0}.skill .skill1 .skill-count1{left:0;right:auto}.skill:before{right:0;left:0}.single-resume-category h3:before{right:0;left:auto}.single-resume-category ul li{padding-right:30px;padding-left:0}.single-resume-category ul li:before{right:0;left:auto}.single-resume-profile span i{margin-right:2px;margin-left:0}.single-resume-skills ul li i{margin-right:2px;margin-left:0}.create-photo .already-create a{margin-right:10px;margin-left:0}.text-right{text-align:left!important}.create-information .create-information-btn a{margin-left:35px;margin-right:0}.create-information .form-group .gender-area label{margin-left:20px;margin-right:0}.create-education .create-education-wrap .create-education-right{text-align:left}.skill .skill1:before{left:0;right:auto}.create-skills .create-skills-wrap .create-skills-right{text-align:left}.create-skills .create-skills-wrap .create-skills-right a{margin-right:15px;margin-left:0}.company-details-item .company-details-logo .company-logo-inner{padding-right:30px;padding-left:0}.company-details-item .company-details-share ul li{margin-left:16px;margin-right:0}.company-details-item .company-details-share span{margin-left:10px;margin-right:0}.company-details-item .company-details-logo .company-logo-inner p i{margin-left:6px;margin-right:0;float:right}.company-details-item .company-details-find ul li a i{margin-left:6px;margin-right:0}.login-area .login-social a i{margin-left:10px;margin-right:0}.accordion a{padding:15px 18px 15px 0}.accordion p{padding:20px 20px 15px 45px}.accordion a:after{left:20px;right:auto}.blog-details-item .blog-details-img ul li{margin-left:15px;margin-right:0}.blog-details-item .blog-details-img ul li i{margin-left:5px;margin-right:0}.blog-details-item .blog-details-social span{margin-left:10px;margin-right:0}.blog-details-item .blog-details-nav .previous-right{text-align:left}.nav{padding-right:0}.banner-area-two .banner-text{text-align:right}@media only screen and (max-width:767px){.mean-container a.meanmenu-reveal{left:15px!important;right:auto!important}.mean-container .mean-nav ul li a.mean-expand{width:90%}.mean-container .mean-nav ul li a.mean-expand{text-align:left;left:0;right:auto}.mean-container .mean-nav ul li a{text-align:right}.mobile-nav .logo{right:15px!important;left:auto!important}.banner-area{overflow:hidden}.banner-form-area form{padding-left:0}.banner-form-area .banner-form-btn{left:0}.banner-form-area form .form-group .form-control{border-left:none}.portal-item .portal-trusted{left:0}.portal-right{padding-right:0}.job-item .job-inner{padding-right:60px}.app-item .app-btn .app-btn-one{margin-left:0}.app-item .app-btn .app-btn-one span{padding-right:38px}.app-item .app-btn .app-btn-one p{padding-right:38px}.app-item .app-btn .app-btn-two span{padding-right:38px}.app-item .app-btn .app-btn-two p{padding-right:38px}.copyright-right{text-align:center}.banner-area-two .banner-text{text-align:right}.jobseeker-item a{left:-62px}.jobseeker-item .jobseeker-icon{right:10px}.portal-counter-area .offset-lg-2{margin-right:0}.banner-area-three .banner-text .banner-form-area form{padding-left:0}.create-item .create-btn{text-align:right}.single-profile-item .single-profile-right .single-profile-name a{margin-left:0}.create-skills .create-skills-wrap .create-skills-right a{margin-right:0}.dashboard-area .create-education-two .create-education-right a{margin-left:0}.company-details-item .company-details-logo .company-logo-inner{padding-right:0}}@media only screen and (min-width:576px) and (max-width:767px){}@media only screen and (min-width:768px) and (max-width:991px){.mean-container a.meanmenu-reveal{left:15px!important;right:auto!important}.mean-container .mean-nav ul li a.mean-expand{width:90%}.mean-container .mean-nav ul li a.mean-expand{text-align:left;left:0;right:auto}.mean-container .mean-nav ul li a{text-align:right}.mobile-nav .logo{right:15px!important;left:auto!important}.banner-area{overflow:hidden}.banner-form-area form{padding-left:0}.banner-form-area .banner-form-btn{left:0}.banner-form-area form .form-group .form-control{border-left:none}.portal-item .portal-trusted{left:0}.portal-right{padding-right:0}.job-item .job-inner{padding-right:60px}.app-item .app-btn .app-btn-one{margin-left:0}.app-item .app-btn .app-btn-one span{padding-right:38px}.app-item .app-btn .app-btn-one p{padding-right:38px}.app-item .app-btn .app-btn-two span{padding-right:38px}.app-item .app-btn .app-btn-two p{padding-right:38px}.copyright-right{text-align:center}.offset-sm-3{margin-right:25%;margin-left:0}.category-border{border-left:none}.category-border-two{border-left:none}.jobseeker-item a{left:-62px}.jobseeker-item .jobseeker-icon{right:10px}.portal-counter-area .offset-lg-2{margin-right:0}.banner-area-three .banner-text .banner-form-area form{padding-left:0}.create-item .create-btn{text-align:right}.job-item .job-inner .job-inner-right ul li{width:100%}}@media only screen and (min-width:992px) and (max-width:1199px){}@media only screen and (min-width:1824px){}