﻿@model Platform.Models.ViewModel.JobViewModel
@{
    ViewBag.Title = "CreateJob";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Post A Job</h2>
                    <ul>
                        <li>
                            <a href="index-2.html">Home</a>
                        </li>
                        <li>
                            <i class="icofont-simple-right"></i>
                        </li>
                        <li>Post A Job</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="post-job-area pt-100">
    <div class="container">
        <div class="post-job-item">
            @using (Html.BeginForm("CreateJob", "Jobs", null, FormMethod.Post, new { enctype = "multipart/form-data", accept_charset = "utf-8" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="post-job-heading">
                    <h2>Post Your Job</h2>
                </div>
                if (TempData["jobMsg"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @TempData["jobMsg"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { })
                            @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "UX/UI Designer" } })
                            @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { })
                            <div class="job-category-area">
                                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "CategoryName"), "Select Job Category", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MinPay, htmlAttributes: new { })
                            @Html.EditorFor(model => model.MinPay, new { htmlAttributes = new { @class = "form-control", placeholder = "$0.00" } })
                            @Html.ValidationMessageFor(model => model.MinPay, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MaxPay, htmlAttributes: new { })
                            @Html.EditorFor(model => model.MaxPay, new { htmlAttributes = new { @class = "form-control", placeholder = "$0.00" } })
                            @Html.ValidationMessageFor(model => model.MaxPay, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MinYearExperience, htmlAttributes: new { })
                            @Html.EditorFor(model => model.MinYearExperience, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MinYearExperience, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MaxYearExperience, htmlAttributes: new { })
                            @Html.EditorFor(model => model.MaxYearExperience, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaxYearExperience, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Vacancies, htmlAttributes: new { })
                            @Html.EditorFor(model => model.Vacancies, new { htmlAttributes = new { @class = "form-control", placeholder = "Number of Vacancies" } })
                            @Html.ValidationMessageFor(model => model.Vacancies, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { })
                            @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control", placeholder = "MM/DD/YYYY" } })
                            @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.JobTypesId, htmlAttributes: new { })
                            @Html.EnumDropDownListFor(m => m.JobTypesId, "-- Select JobType --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.JobTypesId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.JobDescription, htmlAttributes: new { })
                            @Html.TextAreaFor(m => m.JobDescription, new { @class = "form-control", @id = "your_message", rows = 8 })
                            @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Skills, htmlAttributes: new { })
                            @Html.TextAreaFor(m => m.Skills, new { @class = "form-control", @id = "your_message", rows = 8 })
                            @Html.ValidationMessageFor(model => model.Skills, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Education, htmlAttributes: new { })
                            @Html.TextAreaFor(m => m.Education, new { @class = "form-control", @id = "your_message", rows = 8 })
                            @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn create-ac-btn">Post</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
