﻿@model IEnumerable<Platform.Models.Job>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Dashboard/_DashboardLayout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>
                All Jobs
                <a href="@Url.Action("CreateJob", "Jobs")" class="btn btn-sm btn-outline-primary float-right"><i class="fa fa-user-shield"></i> Add New</a>
            </h3>
        </div>
        <div class="box box-primary">
            <div class="box-body">
                <table width="100%" class="table table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.JobTitle)</th>
                            <th>@Html.DisplayNameFor(model => model.Vacancies)</th>
                           <th>@Html.DisplayNameFor(model => model.Category.CategoryName)</th>
                            <th>@Html.DisplayNameFor(model => model.JobTypeID)</th>
                            <th>@Html.DisplayNameFor(model => model.MinPay)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.JobTitle</td>
                            <td>@item.Vacancies</td>
                            <td>@item.Category.CategoryName</td>
                            <td>@item.JobTypeID</td>
                            <td>@item.MinPay</td>
                            <td class="text-right">
                                <a href="@Url.Action("EditJob", "Jobs", new { id = item.Id})" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                <a href="@Url.Action("JobDetails", "Jobs", new { id = item.Id})" class="btn btn-outline-success btn-rounded"><i class="fas fa-eye-slash"></i></a>
                                <a href="@Url.Action("DeleteJob", "Jobs", new { id = item.Id})" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

