﻿
@{
    ViewBag.Title = "UploadSingleFile";
    Layout = null;
}

<h2>UploadSingleFile</h2>

@using (Html.BeginForm("UploadSingleFile", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" />
    <input type="submit" value="Upload" />
}