﻿
@{
    ViewBag.Title = "UploadMultipleFiles";
    Layout = null;
}

<h2>UploadMultipleFiles</h2>
@using (Html.BeginForm("UploadMultipleFiles", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <label for="file">Upload Image:</label>
    <input type="file" name="files" id="files" multiple />
    <input type="submit" value="Upload" />
}

